* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* = */

.bg-primary {
  background-color: rgb(255, 231, 220);
}
/* = */

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

nav {
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem auto;
  gap: 1.4rem;

  .logo {
    height: 2rem;
  }

  .logo-href {
    margin-right: auto;
  }

  a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 0;
  }

  .bg-primary {
    padding: 0 0.5rem;
  }
}

.hero {
  max-width: 50%;
  margin: 8rem auto;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}

main {
  max-width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: wrap;

  a {
    width: calc(33.333% - 2rem);
  }

  a:hover {
    opacity: 0.9;
  }

  img {
    border-radius: 0.4rem;
    max-width: 100%;
  }
}

hr {
  margin-top: 2rem;
  border: 2px solid #ccc;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  gap: 6rem;

  .logo {
    height: 1.5rem;
  }

  p {
    font-size: 0.8rem;
  }

  h5 {
    margin-bottom: 0.3rem;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .fa-brands {
    margin-right: 0.3rem;
  }
}

@media (min-width: 1300px) {
  .hero {
    margin: 10rem auto;
    h1 {
      font-size: 3rem;
    }
  }
}
@media (max-width: 1150px) {
  .hero {
    max-width: 60%;
  }
}
@media (max-width: 960px) {
  .hero {
    max-width: 65%;
  }
}
@media (max-width: 888px) {
  .hero {
    max-width: 75%;
  }
}

@media (max-width: 775px) {
  .hero {
    max-width: 80%;
  }

  main {
    gap: 1rem;
  }
}

@media (max-width: 725px) {
  .hero {
    max-width: 85%;
  }
}
@media (max-width: 684px) {
  .hero {
    max-width: 90%;
  }
}
@media (max-width: 658px) {
  nav {
    max-width: 100%;
    flex-direction: column;
    a {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .hero {
    max-width: 95%;
    h1 {
      font-size: 1.4rem;
    }
  }

  main {
    max-width: 100%;
    gap: 0.5rem;
    a {
      width: calc(50% - 0.5rem);
    }
  }

  footer {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .hero {
    max-width: 100%;
    h1 {
      font-size: 1rem;
    }
  }

  main {
    gap: 0.2rem;
    a {
      width: calc(100% - 0.2rem);
    }
  }
}
